body{
    font-size: 15px;
    margin: 20px;
}
.menu{
    background: whitesmoke;
    padding: 5px;
}
.menu>div{
    cursor: pointer;
    padding: 20px 30px;
    display: inline-block;
}
.menu>div:hover{
    background: white;
}
.content{
    margin: 10px 0px;
}
.content td{
    padding: 10px;
    border-bottom: 1px solid black;
}
.content td:hover{
    border-bottom: 1px solid whitesmoke;
}
.new_book{
    border: none;
    border-radius: 5px;
    background: olivedrab;
    padding: 10px 20px;
}
.new_book:hover{
    background: green;
}
fieldset{
    margin: 20px 0px;
    display: inline-block;
}
.new_input{
    margin: 10px;
    overflow: auto;
}
.new_input>input{
    border: 1px solid white;
    border-bottom-color: cadetblue;
    outline: none;
    margin: 0px 10px;
    float: right;
}
.new_input>select{
    outline: none;
    margin: 0px 5px;
    float: right;
    border: none;
    background: white;
}
.new_input>label{
    float: left;
}
fieldset>button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 15px;
    float: right;
    background: olivedrab;
}